<div id="block-{{ blockCount }}" class="block block-AC block-AC02">
	<div class="container">
		<div class="block__content">
			<div class="AC02__intro border-color--theme">
				{{{content.[0].content}}}
			</div>
			<div class="AC02__main">
				<div class="AC02__carousel">
					{{#each content}}
						{{#if @index includeZero=false}}
							<div class="AC02__carousel-item">
								<div class="row">
									<div class="col-12 col-md-7">
										<div class="AC02__carousel-item-content">{{{content}}}</div>
									</div>
									<div class="col-12 col-md-5">
										<div class="AC02__carousel-item-image"></div>
									</div>
								</div>
							</div>
						{{/if}}
					{{/each}}
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	jQuery(document).ready(function($) {
		blockFunctions('{{ blockCount }}');

		// Add wrapper to button
		$('#block-{{ blockCount }} .AC02__intro .btn').wrap('<div class="AC02__intro-btn"></div>');

		// Add wrapper around everything else
		$('#block-{{ blockCount }} .AC02__intro').children().not('.AC02__intro-btn').wrapAll('<div class="AC02__intro-content"></div>');

		// Initilise Slick Carousel with custom paging (grabs first element)
		$('#block-{{ blockCount }} .AC02__carousel').slick({
			autoplay: false,
			dots: true,
			arrows: false,
			fade: true,
			customPaging : function(slider, i) {
        		var title = $(slider.$slides[i].innerHTML).find('.AC02__carousel-item-content').children().first().html();
        		return '<span>' + title + '</span>';
    		},
		});

		// Loop through each slide content
		$('#block-{{ blockCount }} .AC02__carousel-item-content').each(function() {
			var $parent = $(this).parents('.AC02__carousel-item');

			// Remove pagination heading
			$(this).children().first().remove();

			// Move image
			var $img = $('img', $(this));
			var imgSrc = $img.attr('src');
			var imgAlt = $img.attr('alt');
			$img.unwrap('p').remove();

			$('.AC02__carousel-item-image', $parent).prepend('<img src="' + imgSrc + '" alt="' + imgAlt + '">');

		});

		// Calculate the position of the dots depending on height
		function block{{ blockCount }}DotsPosition() {
			if($(window).width() < 992) {
				var dotsHeight = $('#block-{{ blockCount }} .slick-dots').height() + 40;
				$('#block-{{ blockCount }} .AC02__intro').css('padding-bottom', dotsHeight + 'px')
			}
		}

		// Run dots function on load
		block{{ blockCount }}DotsPosition();

		// Run dots function on window resize
		$(window).resize(function() {
			block{{ blockCount }}DotsPosition();
		});
		
	});
</script>