<div id="block-{{ blockCount }}" class="block block-AC block-AC02">
	<div class="container">
		<div class="block__content">
			<div class="AC02__intro border-color--theme">
				{{{content.[0].content}}}
			</div>
			<div class="AC02__main">
				<div class="AC02__carousel">
					{{#each content}}
						{{#if @index includeZero=false}}
							<div class="AC02__carousel-item">
								<div class="AC02__carousel-item-inner">
									<div class="AC02__carousel-item-content">
										<div class="AC02__carousel-item-content-inner">
											<div class="AC02__carousel-item-content-inner-main">
												{{{content}}}
											</div>
										</div>
									</div>
								</div>
							</div>
						{{/if}}
					{{/each}}
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	jQuery(document).ready(function($) {
		blockFunctions('{{ blockCount }}');
		var $block = $('#block-{{ blockCount }}').parent('.wmg-block');

		// Add wrapper to button
		$('.AC02__intro .btn', $block).wrap('<div class="AC02__intro-btn"></div>');

		// Add wrapper around everything else
		$('.AC02__intro', $block).children().not('.AC02__intro-btn').wrapAll('<div class="AC02__intro-content"></div>');

		// Initilise Slick Carousel with custom paging (grabs first element)
		$('.AC02__carousel', $block).slick({
			autoplay: false,
			dots: true,
			arrows: false,
			fade: true,
			customPaging : function(slider, i) {
        		var title = $(slider.$slides[i].innerHTML).find('.AC02__carousel-item-content-inner-main').children().first().html();
        		return '<span>' + title + '</span>';
    		},
		});

		// Loop through each slide content
		$('.AC02__carousel-item-content-inner-main', $block).each(function() {
			var $parent = $(this).parents('.AC02__carousel-item-inner');

			// Remove pagination heading
			$(this).children().first().remove();

			// If variation 2
			if($('.block', $block).hasClass('variation--2')) {
				// Move image
				$('img', $(this)).first().unwrap('p').wrap('<div class="AC02__carousel-item-image"></div>');
				$('.AC02__carousel-item-image', $(this)).appendTo($parent);

				// Move list and heading
				var $lastElement = $(this).children().last();

				// Check if last element is list
				if($lastElement.is('ul')) {
					// Get previous element
					$prevElement = $lastElement.prev();

					// Wrap list
					$lastElement.wrap('<div class="AC02__carousel-item-content-inner-sidebar"></div>');

					// Check if previous element is heading
					if($prevElement.is(':header')) {
						// Move to wrapper
						$prevElement.prependTo($('.AC02__carousel-item-content-inner-sidebar', $parent));
					}

					// Move list and heading wrapper
					$('.AC02__carousel-item-content-inner-sidebar', $parent).appendTo($('.AC02__carousel-item-content', $parent));
				}
			}

		});

		// Calculate the position of the dots depending on height
		function block{{ blockCount }}DotsPosition() {
			if($(window).width() < 992) {
				var dotsHeight = $('.slick-dots', $block).height() + 40;
				$('.AC02__intro', $block).css('padding-bottom', dotsHeight + 'px')
			}
		}

		// Run dots function on load
		block{{ blockCount }}DotsPosition();

		// Run dots function on window resize
		$(window).resize(function() {
			block{{ blockCount }}DotsPosition();
		});
		
	});
</script>