<div id="block-{{ blockCount }}" class="block block-AC block-AC03">
	<div class="block__content">
		<div class="AC03__tabs">
			<div class="container">
				<ul class="AC03__tabs-list"></ul>
			</div>
		</div>
		<div class="container">
			<div class="AC03__content">
				{{#each content}}
					<div class="AC03__content-item AC03__content-item--{{@index}}">
						{{{content}}}
					</div>
				{{/each}}
			</div>
			<button class="AC03__back">Back to all tabs ></button>
		</div>
	</div>
</div>
<script>
	jQuery(document).ready(function($) {
		blockFunctions('{{ blockCount }}');		
		var $block = $('#block-{{ blockCount }}').parent('.wmg-block');

		// Loop through each content block
		$('.AC03__content-item', $block).each(function(index) {
			var buttonClass = '';

			// Get tab heading
			var tabHeading = $('p:first-child', $(this)).text();
			
			// If first content block
			if(index == 0) {
				// Add active class
				buttonClass = ' class="active"';
				$(this).addClass('active');
			}

			// Remove tab heading element
			$('p:first-child', $(this)).remove();

			// Create tab button
			$('.AC03__tabs .AC03__tabs-list', $block).append('<li' + buttonClass + ' data-id="' + index + '"><button>' + tabHeading + '<svg width="12" height="16" viewBox="0 0 12 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.05548 15.2704L2.05347 15.2687L0.741346 14.139L0.415124 14.518L0.741345 14.139C0.426051 13.8676 0.429213 13.4683 0.739338 13.2041L0.739345 13.2041L0.741734 13.2021L6.33278 8.37858L6.77206 7.99961L6.33239 7.62108L0.735536 2.80259C0.420242 2.53114 0.423403 2.13183 0.733529 1.86767L0.733537 1.86768L0.736363 1.86524L2.04766 0.731309C2.04779 0.731199 2.04791 0.73109 2.04804 0.730981C2.40733 0.422029 3.01076 0.424452 3.3614 0.729582L3.3634 0.731309L11.2594 7.52919L11.2614 7.53088C11.5792 7.80162 11.5786 8.20096 11.2652 8.47082L3.36921 15.2687C3.00997 15.578 2.40624 15.5757 2.05548 15.2704Z" fill="#4D4D4F" stroke="transparent"/></svg></button></li>');

			// Wrap triangle
			$('.brand-triangle', $(this)).unwrap('p').wrap('<div class="AC03__content-item-header"></div>');
		});

		// On tab button click
		$('.AC03__tabs li', $block).click(function() {
			// Remove active class from old button
			$('.AC03__tabs li.active', $block).removeClass('active');

			// Get tab ID
			var id = $(this).data('id');
			var heading = $(this).text();

			// Set active class
			$(this).addClass('active');

			// Set mobile tab dropdown to tab heading
			$('.AC03__tabs-dropdown span', $block).text(heading);

			// Hide old content block
			$('.AC03__content-item.active', $block).removeClass('active');

			// Show new content block
			$('.AC03__content-item.AC03__content-item--' + id, $block).addClass('active');
		});

		// Back to top button
		$('.AC03__back', $block).click(function() {
			$([document.documentElement, document.body]).animate({
		        scrollTop: $('.AC03__tabs', $block).offset().top
		    }, 500);
		});
		
		// Check if parameter exists
		if(searchParams.has('AC03active')) {
			let AC03active = searchParams.get('AC03active');

			// Set tab to parameter tab
			$('.AC03__tabs-list li[data-id="' + AC03active + '"]', $block).trigger('click');
		}
	});
</script>