<div id="block-{{ blockCount }}" class="block block-CB block-CB01">
	<div class="container">
		<div class="block__content">
			<div class="CB-row">
				{{#each content}}
					<div class="CB-col">
						<div class="card-block">{{{ this.content }}}</div>
					</div>
				{{/each}}
			</div>
		</div>
	</div>
</div>
<script>
	jQuery(document).ready(function($) {
		blockFunctions('{{ blockCount }}');

		var $parent = $('#block-{{ blockCount }}').parent('.wmg-block');

		// Add title if set
		if($parent.data('title')) {
			$('#block-{{ blockCount }} .block__content').prepend('<h2>' + $parent.data('title') + '</h2>');
		}

		// Loop through each card block, check if an image exists and wrap it
		$('#block-{{ blockCount }} .card-block').each(function() {
			if($('img', $(this)).length) {
				$('img', $(this)).unwrap('p').wrap('<div class="card-block__image"></div>');
			}
		});
	});
</script>