<div id="block-{{ blockCount }}" class="block block-CB block-CB09">
	<div class="container">
		<div class="block__content">
			<div class="row">
				<div class="col-12 col-lg-6">
					<div class="CB09-col">
						<div class="card-block">{{{content.[0].content}}}</div>
					</div>
				</div>
				<div class="col-12 col-lg-6">
					<div class="CB09-col">
						<div class="card-block">{{{content.[1].content}}}</div>
						<div class="CB09-featured-block bg--theme">{{{content.[2].content}}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	jQuery(document).ready(function($) {
		blockFunctions('{{ blockCount }}');
		var $block = $('#block-{{ blockCount }}').parent('.wmg-block');

		// Loop through each card block, check if an image exists and wrap it
		$('.card-block', $block).each(function() {
			if($('img', $(this)).length) {
				$('img', $(this)).unwrap('p').wrap('<div class="card-block__image"></div>');
			}
		});
	});