<div id="block-{{ blockCount }}" class="block block-FB block-FB01">
	<div class="block__content">
		<div class="row">
			<div class="col-12 col-lg-6">
				<div class="FB01__module FB01__module-left bg--dark color--white">
					<div class="FB01__module-top">{{{content.[0].content}}}</div>
					<div class="FB01__module-bottom">
						<div class="half-container half-container--lg half-container--left">
							<div class="FB01__module-bottom-content">{{{content.[1].content}}}</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-lg-6">
				<div class="FB01__module FB01__module-right bg--light-grey">
					<div class="FB01__module-top bg--theme color--white">
						<div class="row FB01__module-top-split">
							<div class="col-12 col-md-6">
								<div class="FB01__module-top-main">
									<div class="inner-block">
										{{{content.[2].content}}}
										<svg width="33" height="351" viewBox="0 0 33 351" fill="none" xmlns="http://www.w3.org/2000/svg" class="theme-fill-path-alt">
											<path d="M0.632812 36.436L32.018 0V351H0.632812V36.436Z" fill="#de0905"></path>
										</svg>
									</div>
								</div>
							</div>
							<div class="d-none d-md-block col-md-6">
								<div class="FB01__module-top-image"></div>
							</div>
						</div>
					</div>
					<div class="FB01__module-bottom">
						<div class="half-container half-container--lg half-container--right">
							<div class="FB01__module-bottom-content">{{{content.[3].content}}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	jQuery(document).ready(function($) {
		blockFunctions('{{ blockCount }}');

		// Move first image
		$('#block-{{ blockCount }} .FB01__module-top-main img:first-child').unwrap('p').appendTo('#block-{{ blockCount }} .FB01__module-top-image');
	});
</script>