<div id="block-{{ blockCount }}" class="block block-FB block-FB05">
	<div class="block__content">
		<div class="row">
			<div class="col-12 col-lg-6">
				<div class="half-container half-container--lg half-container--left">
					<svg width="150" height="305" viewBox="0 0 150 305" preserveAspectRatio="none" fill="none" xmlns="http://www.w3.org/2000/svg" class="corner-arrow theme-fill-path-alt">
						<path d="M0 0L150 -1.31134e-05L150 305L0 0Z" fill="#de0905"/>
					</svg>
					<div class="FB05__main">
						{{{content.[1].content}}}
					</div>
				</div>
			</div>
			<div class="col-12 col-lg-6">
				<div class="FB05__side">
					<div class="inner-block grid-default-padding-lg-left">
						<svg width="33" height="351" viewBox="0 0 33 351" fill="none" xmlns="http://www.w3.org/2000/svg" class="theme-fill-path-alt">
							<path d="M0.632812 36.436L32.018 0V351H0.632812V36.436Z" fill="#de0905"/>
						</svg>
						{{{content.[2].content}}}
					</div>
					<div class="FB05__side-image">
						{{{content.[0].content}}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	jQuery(document).ready(function($) {
		blockFunctions('{{ blockCount }}');
	});
</script>