<div id="block-{{ blockCount }}" class="block block-FB block-FB06">
		<div class="block__content">
			<div class="row">
				<div class="col-12 col-lg-6">
					<div class="FB06-main">
						{{{content.[0].content}}}
					</div>
				</div>
				<div class="col-12 col-lg-6">
					<div class="FB06-carousel">
						{{#each content}}
							{{#if @index includeZero=false}}
								<div class="FB06-carousel__item">
									{{{ this.content }}}
								</div>
							{{/if}}
						{{/each}}
					</div>
				</div>
			</div>
		</div>
</div>
<script>
	jQuery(document).ready(function($) {
		blockFunctions('{{ blockCount }}');
		var $block = $('#block-{{ blockCount }}').parent('.wmg-block');
		var postsData = blockPostsQuery($block, 5);

		if(postsData != false) {
			var posts = '';

			$.each(postsData, function(key, data) {
				

				// Get image from content string
				var image = blockPostImage(data.content, postsURL);

				if(image != '') {
					var image = '<div class="FB06-carousel__item-image"><img src="' + image + '" alt="' + data.title + '"></div>';
				}

				posts = posts + '<div class="FB06-carousel__item">' + image + '<div class="FB06-carousel__item-content"><p class="FB06-carousel__item-content-date">' + blockPostDate(data.publicationDate) + '</p><h3>' + data.title + '</h3><p><a href="' + $block.data('posts_article_page') + '?id=' + data.id + '" class="btn btn--text btn-arrow--true">Read more <svg width="8" height="15" viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.72761 8.55602L2.46362 14.5042C2.09979 14.9153 1.51146 14.9153 1.1515 14.5042L0.276745 13.5157C-0.0870884 13.1046 -0.0870884 12.4398 0.276746 12.0331L4.00411 7.8125L0.272876 3.59632C-0.0909585 3.1852 -0.0909585 2.5204 0.272876 2.11366L1.14763 1.12084C1.51146 0.70972 2.09979 0.70972 2.45975 1.12084L7.72374 7.06898C8.09144 7.4801 8.09144 8.1449 7.72761 8.55602Z" fill="#272729"></path></svg></a></p></div></div>';
			});

			$('.FB06-carousel', $block).html(posts);
		}

		// Loop through each carousel item
		$('.FB06-carousel__item', $block).each(function() {
			// Add wrapper around image
			$('img', $(this)).unwrap('p').wrap('<div class="FB06-carousel__item-image"></div>');

			// Add SVG to image
			$('.FB06-carousel__item-image', $(this)).prepend('<svg width="57" height="69" viewBox="0 0 57 69" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M56.7634 68.1979L0 68.1979L6.61655e-06 0.242188L56.7634 68.1979Z" fill="#D9DDE0"/></svg>');
			
			// Wrap everything else
			$(this).children().not('.FB06-carousel__item-image').wrapAll('<div class="FB06-carousel__item-content"><div class="half-container half-container--lg half-container--right"></div></div>');
		});

		// Wrap main image
		$('.FB06-main img', $block).unwrap('p').wrap('<div class="FB06-main__image"></div>');

		// Add SVG to main image
		$('.FB06-main__image', $block).prepend('<svg width="57" height="74" viewBox="0 0 57 74" fill="none" xmlns="http://www.w3.org/2000/svg" class="bg-fill-path"><path d="M0 0L56.7634 -9.92483e-06L56.7634 73.5887L0 0Z" fill="#E6E8EA"/></svg>');

		// Wrap everything else
		$('.FB06-main', $block).children().not('.FB06-main__image').wrapAll('<div class="FB06-main__content"><div class="half-container half-container--lg half-container--left"></div></div>');

		// Initilise slick carousel with custom numbered pagination
		$('.FB06-carousel', $block).slick({
			arrows: false,
			dots: true,
			draggable: false,
			customPaging : function(slider, i) {
				var thumb = $(slider.$slides[i]).data();
				return '<a>0' + parseInt(i+1) + '</a>';
			}
		});
	});
</script>