<div id="block-{{ blockCount }}" class="block block-HB01">
	<div class="block__content">
		<div id="slick-{{ blockCount }}" class="HB01__carousel">
			{{#each content}}
				<div class="HB01__carousel-item">
					<div class="HB01__carousel-item-bg"></div>
					<div class="HB01__carousel-item-content">
						<div class="HB01__carousel-item-content-overlay hidden-sm hidden-xs"><svg width="97" height="78" viewBox="0 0 97 78" fill="none" xmlns="http://www.w3.org/2000/svg"><g style="mix-blend-mode:multiply"><path d="M97 77.036L0 -0.386719V77.036H97Z" fill="#000"/></g></svg></div>
						<div class="HB01__carousel-item-content-main">
							{{{ this.content }}}
						</div>
					</div>
				</div>
			{{/each}}
		</div>
	</div>
<script>
	jQuery(document).ready(function($) {
		blockFunctions('{{ blockCount }}');
		var $block = $('#block-{{ blockCount }}').parent('.wmg-block');

		$('.HB01__carousel-item', $block).each(function() {
			$('img', $(this)).appendTo($('.HB01__carousel-item-bg', $(this)));
		});

		// Initialise Slick Carousel with custom pagination
		var slickObject = {
			autoplay: true,
			arrows: false,
			draggable: true,
			dots: false,
			fade: true,
			speed: 1500,
			pause: 10000,
			customPaging : function(slider, i) {
				var thumb = $(slider.$slides[i]).data();
				return '<a>0' + parseInt(i+1) + '</a>';
			}			
		}

		// Add dots if setting is set
		if($('.block', $block).hasClass('carousel-dots--true')) {
			slickObject.dots = true;
		}

		$(window).on('load', function(){
			$('#slick-{{ blockCount }}').slick(slickObject);
		});
	});
</script>