<div id="block-{{ blockCount }}" class="block block-HB01">
	<div class="block__content">
		<div id="slick-{{ blockCount }}" class="HB01__carousel">
			{{#each content}}
				<div class="HB01__carousel-item">
					<div class="HB01__carousel-item-bg"></div>
					<div class="HB01__carousel-item-content">
						{{{ this.content }}}
					</div>
				</div>
			{{/each}}
		</div>
	</div>
<script>
	jQuery(document).ready(function($) {
		blockFunctions('{{ blockCount }}');

		$('#block-{{ blockCount }} .HB01__carousel-item').each(function() {
			$('img', $(this)).appendTo($('.HB01__carousel-item-bg', $(this)));
		});

		// Initialise Slick Carousel with custom pagination
		var slickObject = {
			autoplay: true,
			arrows: false,
			draggable: false,
			dots: false,
			fade: true,
			customPaging : function(slider, i) {
				var thumb = $(slider.$slides[i]).data();
				return '<a>0' + parseInt(i+1) + '</a>';
			}			
		}

		// Add dots if setting is set
		if($('#block-{{ blockCount }}').hasClass('carousel-dots--true')) {
			slickObject.dots = true;
		}

		$(window).on('load', function(){
			$('#slick-{{ blockCount }}').slick(slickObject);
		});
	});
</script>