<div id="block-{{ blockCount }}" class="block block-IG block-IG01">
	<div class="container">
		<div class="block__content">
			<div class="row">
				<div class="col-12 col-md-4">
					{{{content.[0].content}}}
				</div>
				<div class="col-12 col-md-4">
					{{{content.[1].content}}}
				</div>
				<div class="col-12 col-md-4">
					{{{content.[2].content}}}
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	jQuery(document).ready(function($) {
		blockFunctions('{{ blockCount }}');
	});
</script>