<div id="block-{{ blockCount }}" class="block block-IN block-IN01">
	<div class="block__content">
		<div class="row">
			<div class="col-12 col-md-6">
				<div class="half-container half-container--md half-container--left">
					<div class="IN01__main">
						{{#each content}}
							{{{ this.content }}}
						{{/each}}
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6">
				<div class="IN01__image"></div>
			</div>
		</div>
	</div>
</div>
<script>
	jQuery(document).ready(function($) {
		blockFunctions('{{ blockCount }}');
		var $block = $('#block-{{ blockCount }}').parent('.wmg-block');

		// Move image
		$('.IN01__main img', $block).appendTo($('#block-{{ blockCount }} .IN01__image'));
	});
</script>