<div id="block-{{ blockCount }}" class="block block-IN block-IN04">
	<div class="container">
		<div class="block__content">
			<div class="row align-items-center">
				<div class="col-12 col-lg-6"><div class="IN__main">{{{content.[0].content}}}</div></div>
				<div class="col-12 col-lg-6">
					<div class="IN__media">
						<div class="IN__media-main">{{{content.[1].content}}}</div>
						<div class="IN__media-description">{{{content.[2].content}}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	jQuery(document).ready(function($) {
		blockFunctions('{{ blockCount }}');
		var $block = $('#block-{{ blockCount }}').parent('.wmg-block');

		// If Media Width option is set to small
		if($('.block', $block).hasClass('media-width--small')) {
			// Change row widths
			$('.IN__main', $('#block-{{ blockCount }}')).parent('.col-12').removeClass('col-lg-6').addClass('col-lg-8');
			$('.IN__media', $('#block-{{ blockCount }}')).parent('.col-12').removeClass('col-lg-6').addClass('col-lg-4');
		}
	});
</script>
