<div id="block-{{ blockCount }}" class="block block-IN block-IN04">
	<div class="container">
		<div class="block__content">
			<div class="row align-items-center">
				<div class="col-12 col-lg-6"><div class="IN__main">{{{content.[0].content}}}</div></div>
				<div class="col-12 col-lg-6">
					<div class="IN__media">
						<div class="IN__media-main">{{{content.[1].content}}}</div>
						<div class="IN__media-description">{{{content.[2].content}}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	jQuery(document).ready(function($) {
		blockFunctions('{{ blockCount }}');
	});
</script>
