<div id="block-{{ blockCount }}" class="block block-IN block-IN05">
	<div class="container">
		<div class="block__content">
			<div class="row">
				<div class="col-12 col-lg-6"><div class="IN__main">{{{content.[0].content}}}</div></div>
				<div class="col-12 col-lg-6">
					<div class="IN__social bg--theme color--white">
						{{{content.[1].content}}}
					</div>
					<div class="IN__map">
						<div class="IN__map-main">{{{content.[2].content}}}</div>
						<div class="IN__map-description">{{{content.[3].content}}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	jQuery(document).ready(function($) {
		blockFunctions('{{ blockCount }}');
		var $block = $('#block-{{ blockCount }}').parent('.wmg-block');

		$('.IN__social', $block).children().first().wrap('<div class="IN__social-link"></div>');
		$('.IN__social', $block).children().not('.IN__social-link').wrapAll('<div class="IN__social-main"></div>');
	});
</script>