<div id="block-{{ blockCount }}" class="block block-MB block-MB01">
	<div class="block__content">
		{{{content.[0].content}}}
		<div class="MB01-img"></div>
	</div>
</div>
<script>
	jQuery(document).ready(function($) {
		blockFunctions('{{ blockCount }}');

		// Get image url and remove image element
		var $img = $('#block-{{ blockCount }} img');
		var imgSrc = $img.attr('src');
		$img.unwrap('p').remove();

		// Add background image
		$('#block-{{ blockCount }} .MB01-img').css('background-image', 'url(' + imgSrc + ')');
		 
	});
</script>