<div id="block-{{ blockCount }}" class="block block-MB block-MB02">
	<div class="container">
		<div class="block__content">
			<div class="d-md-none MB02-carousel">
				{{#each content}}
					<div class="MB02-carousel__item">{{{ this.content }}}</div>
				{{/each}}
			</div>
			<div class="d-none d-md-block MB02-grid">
				<div class="row">
					<div class="col-12 col-md-6">
						<div class="MB02-img">{{{content.[0].content}}}</div>
					</div>
					<div class="col-12 col-md-6">
						<div class="">
							<div class="row">
								<div class="col-12 col-md-6">
									<div class="MB02-img MB02-img--half">{{{content.[1].content}}}</div>
								</div>
								<div class="col-12 col-md-6">
									<div class="MB02-img MB02-img--half">{{{content.[2].content}}}</div>
								</div>
								<div class="col-12">
									<div class="MB02-img MB02-img--half">{{{content.[3].content}}}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	jQuery(document).ready(function($) {
		blockFunctions('{{ blockCount }}');

		$('#block-{{ blockCount }} img').each(function() {
			$(this).unwrap('p');
		});

		if($(window).width() < 768) {
			$('.MB02-carousel').slick({
				dots: true,
				arrows: true,
				autoplay: false,
				nextArrow: '<button class="slick-next slick-arrow"><svg width="15" height="27" viewBox="0 0 15 27" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L14 13.5L1 26" stroke="#6D6F71"/></svg></button>',
				prevArrow: '<button class="slick-prev slick-arrow"><svg width="15" height="27" viewBox="0 0 15 27" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14 1L1 13.5L14 26" stroke="#6D6F71"/></svg></button>'
			});			
		}
	});
</script>