<div id="block-{{ blockCount }}" class="block block-MB block-MB04">
	<div class="container">
		<div class="block__content">
			<div class="MB04__intro">{{{content.[0].content}}}</div>
			<div class="MB-carousel MB04-carousel">
				{{#each content}}
					{{#if @index includeZero=false}}
						<div class="MB-carousel__item">{{{ this.content }}}</div>
					{{/if}}
				{{/each}}
			</div>
		</div>
	</div>
</div>
<script>
	jQuery(document).ready(function($) {
		blockFunctions('{{ blockCount }}');

		$('#block-{{ blockCount }} img').each(function() {
			$(this).unwrap('p');
		});

		$('#block-{{ blockCount }} .MB04-carousel').slick({
			dots: false,
			arrows: true,
			autoplay: false,
			infinite: true,
			slidesToShow: 2,
			nextArrow: '<button class="slick-next slick-arrow"><svg width="15" height="27" viewBox="0 0 15 27" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L14 13.5L1 26" stroke="#6D6F71"/></svg></button>',
			prevArrow: '<button class="slick-prev slick-arrow"><svg width="15" height="27" viewBox="0 0 15 27" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14 1L1 13.5L14 26" stroke="#6D6F71"/></svg></button>',
			responsive: [
			    {
			      breakpoint: 767,
			      settings: {
			        slidesToShow: 1
			      }
			    }
			]
		});		
	});
</script>