<div id="block-{{ blockCount }}" class="block block-MB block-MB12">
	<div class="container">
		<div class="block__content">
			<div class="filters-bar">
				<label class="filters-bar__search MB12-search">
					Quick search
					<input type="text" name="MB12-search">
				</label>
			</div>
			<div class="row">
				{{#each content}}
					<div class="col-12 col-md-6 col-lg-4">
						<div class="media-panel">{{{content}}}</div>
					</div>
				{{/each}}
			</div>
		</div>
	</div>
</div>
<script>
	jQuery(document).ready(function($) {
		blockFunctions('{{ blockCount }}');
		var $block = $('#block-{{ blockCount }}').parent('.wmg-block');

		function block{{ blockCount }}Search() {
			var searchString = $('.MB12-search input', $block).val();
			var currentActiveCount = 0;

			// Hide active blocks
			$('.row .active', $block).removeClass('active');
			
			// If content in search
			if(searchString.length > 0) {

				// Loop through all panels
				$('.media-panel', $block).each(function() {
					// Get content as string
					var panelContent = $(this).text();

					// If search string is contained in panel content, add active class
					if(panelContent.toLowerCase().indexOf(searchString.toLowerCase()) >= 0) {
						$(this).parent().addClass('active');
						currentActiveCount = currentActiveCount + 1;
					}
				});

			} else {
				// Else if no content show first 6
				$('.row', $block).children().addClass('active');
			}

		}

		// Run search on load
		block{{ blockCount }}Search();

		// Run search after input change
		$('.MB12-search input', $block).keyup(function() {
			block{{ blockCount }}Search();
		});
	});
</script>