<div id="block-{{ blockCount }}" class="block block-PTB block-PTB06">
	<div class="container">
		<div class="block__content">
			<div class="PTB-intro">{{{content.[0].content}}}</div>
			<div class="row">
				{{#each content}}
					{{#if @index includeZero=false}}
						<div class="col-12 col-md-6">
							<div class="event-card">{{{content}}}</div>
						</div>
					{{/if}}
				{{/each}}
			</div>
		</div>
	</div>
</div>
<script>
	jQuery(document).ready(function($) {
		blockFunctions('{{ blockCount }}');

		// Loop through all blocks
		$('#block-{{ blockCount }} .event-card').each(function() {
			// Wrap image
			$('img', $(this)).wrap('<div class="event-card__image"></div>');

			// Wrap all other content
			$(this).children().not('.event-card__image').wrapAll('<div class="event-card__content"></div>');
		});
	});
</script>