<div id="block-{{ blockCount }}" class="block block-PTB block-PTB03">
	<div class="container">
		<div class="block__content">
			<div class="PTB-intro">{{{content.[0].content}}}</div>
			<div class="PTB-carousel PTB03-carousel">
				{{#each content}}
					{{#if @index includeZero=false}}
						<div class="PTB03-carousel__item">
							<div class="card-block">{{{content}}}</div>
						</div>
					{{/if}}
				{{/each}}
			</div>
		</div>
	</div>
</div>
<script>
	jQuery(document).ready(function($) {
		blockFunctions('{{ blockCount }}');
		var $block = $('#block-{{ blockCount }}').parent('.wmg-block');
		var postsData = blockPostsQuery($block);
		var postsOutput = '';

		if(postsData != false) {
			$.each(postsData, function(key, data) {
				var postURL = $block.data('posts_article_page') + '?id=' + data.id;

				var eventOutput = '';
				if(data.start) {
					eventOutput = '<p>' + eventDates(data.start, data.end) + '</p>';
				}

				postsOutput = postsOutput + '<div class="PTB03-carousel__item"><div class="card-block"><img src="' + blockPostImage(data.content, postsURL) + '" alt="' + data.title + '"><p class="post-date card-block__date">' + blockPostDate(data.publicationDate) + '</p><h3>' + data.title + '</h3>' + eventOutput + '<div class="card-block__btn"><p><a href="' + postURL + '" class="btn btn--text btn-arrow--true">Read more <svg width="8" height="15" viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.72761 8.55602L2.46362 14.5042C2.09979 14.9153 1.51146 14.9153 1.1515 14.5042L0.276745 13.5157C-0.0870884 13.1046 -0.0870884 12.4398 0.276746 12.0331L4.00411 7.8125L0.272876 3.59632C-0.0909585 3.1852 -0.0909585 2.5204 0.272876 2.11366L1.14763 1.12084C1.51146 0.70972 2.09979 0.70972 2.45975 1.12084L7.72374 7.06898C8.09144 7.4801 8.09144 8.1449 7.72761 8.55602Z" fill="#272729"></path></svg></a></p></div>' + blockPostShare('https://warwick.ac.uk' + postURL, data.title) + '</div></div>';
			});

			$('.PTB03-carousel', $block).html(postsOutput);
	    }

		// Loop through each card block, check if an image exists and wrap it
		$('.card-block', $block).each(function() {
			if($('img', $(this)).length) {
				$('img', $(this)).unwrap('p').wrap('<div class="card-block__image"></div>');
			}

			$(this).children().not('.card-block__image').wrapAll('<div class="card-block__content"></div>');
		});

		// Initialise Slick Carousel with custom arrows and dots
		$('.PTB03-carousel', $block).slick({
			autoplay: false,
			draggable: false,
			dots: true,
			arrows: true,
			slidesToShow: 3,
			nextArrow: '<button class="slick-next slick-arrow"><svg width="19" height="34" viewBox="0 0 19 34" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 33L18 17L1 0.999998" stroke="#6D6F71"/></svg></button>',
			prevArrow: '<button class="slick-prev slick-arrow"><svg width="19" height="34" viewBox="0 0 19 34" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18 1L1 17L18 33" stroke="#6D6F71"/></svg></button>',
			customPaging : function(slider, i) {
				var thumb = $(slider.$slides[i]).data();
				return '<a>0' + parseInt(i+1) + '</a>';
			},
			responsive: [
			    {
			      breakpoint: 991,
			      settings: {
			        slidesToShow: 2
			      }
			    },
			    {
			      breakpoint: 767,
			      settings: {
			        slidesToShow: 1
			      }
			    }
			]
		});

		// Function to calculate desktop dots location
		function block{{ blockCount }}DotsLocation() {
			// If button exists
			if($('.PTB-intro .btn', $block).length) {
				// If window width is desktop
				if($(window).width() > 991) {
					// Set dots right to button width + 30px
					var btnWidth = $('.PTB-intro .btn', $block).outerWidth() + 30;
					$('#block-{{ blockCount }} .slick-dots').css({'right': btnWidth + 'px'})
				}				
			}

		}

		// Run dots calculation on page load
		block{{ blockCount }}DotsLocation();

		// Run dots calculation on window resize
		$(window).resize(function() {
			block{{ blockCount }}DotsLocation();
		});
	});
</script>