<div id="block-{{ blockCount }}" class="block block-PTB block-PTB17">
	<div class="container">
		<div class="block__content">
			<div class="filters-bar">
				<div class="filters-bar__selects">
					<select class="PTB17-filter" data-filter="category">
						<option value="" selected>All Categories</option>
						{{#each categories}}
							<option value="{{this}}">{{this}}</option>
						{{/each}}
					</select>
					<select class="PTB17-filter" data-filter="month">
						<option value="" selected>All Months</option>
						<option value="0">January</option>
						<option value="1">February</option>
						<option value="2">March</option>
						<option value="3">April</option>
						<option value="4">May</option>
						<option value="5">June</option>
						<option value="6">July</option>
						<option value="7">August</option>
						<option value="8">September</option>
						<option value="9">October</option>
						<option value="10">November</option>
						<option value="11">December</option>
					</select>
				</div>
				<label class="filters-bar__search PTB17-search">
					Search events
					<input type="text" name="PTB17-search">
				</label>
			</div>
			<div class="PTB17-grid">
				<div class="PTB17-grid-none"><p>No results match your search.</p></div>
				<div class="row">
					{{#each content}}
						<div class="col-12 col-md-6 active" data-cats="{{categories}}">
							<div class="event-card">
								<div class="event-card__image"></div>
								<div class="event-card__content">
									[!triangle]
									<h4>{{{this.title}}}</h4>
									<div class="event-card__content-info">
										{{#if this.start}}
											<p class="event-card__date"><strong><span class="event-card__timestamp" data-timestamp-start="{{{this.start}}}" data-timestamp-end="{{{this.end}}}"></span></strong></p>
										{{/if}}
										{{#if this.location}}
											<p class="event-card__location"><strong>Hosted: {{{this.location}}}</strong></p>
										{{/if}}
									</div>
									{{#if this.summary}}
										<div class="event-card__summary"><strong>Overview</strong><br>{{{this.summary}}}</div>
									{{/if}}
									{{#if this.url.href}}
										<a href="{{{this.url.href}}}" class="btn btn--theme">Find out more</a>
									{{/if}}{{this}}
								</div>
							</div>
						</div>
					{{/each}}
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	jQuery(document).ready(function($) {
		blockFunctions('{{ blockCount }}');
		var $block = $('#block-{{ blockCount }}').parent('.wmg-block');

		/* -- STYLING -- */
		// Loop through each event card timestamp
		$('.event-card__timestamp', $block).each(function() {
			// Get timestamp
			var startTimestamp = $(this).data('timestamp-start');
			var endTimestamp = $(this).data('timestamp-end');
			var startDateTime = new Date(startTimestamp);

			// Set date/time in content
			$(this).html(eventDates(startTimestamp, endTimestamp));

			// Add month class
			$(this).parents('.col-12').addClass('filter-month--' + startDateTime.getMonth())
		});

		// Remove anchors from summary
		$('.event-card__summary a', $block).each(function() {
			$(this).replaceWith($(this).text());
		});

		// Move image
		$('.event-card__summary img').each(function() {
			$(this).appendTo($('.event-card__image', $(this).parents('.event-card')));
		});

		// Function to reset blocks
		function block{{ blockCount }}ResetBlocks() {
			$('.PTB17-grid-none', $block).removeClass('active');
			$('.row > div', $block).addClass('active');
			$('.PTB17-search input', $block).val();
		}

		/* -- CATEGORY FILTER -- */
		// Loop through each grid item
		$('.row > div', $block).each(function() {
			// Get all categories
			var cats = $(this).data('cats');
			// Split them into an array
			var catArray = cats.split(',');
			var $self = $(this);

			// Loop through category array
			$.each(catArray, function(key, value) {
				// Sanitize category
				var catVal = value.replace(/\s+/g, '-').toLowerCase();

				// Add Category class
			  	$self.addClass('filter-category--' + catVal);
			});
		});

		// On category change
		$('select.PTB17-filter', $block).change(function() {
			// Reset all blocks
			block{{ blockCount }}ResetBlocks();

			// Loop through all filters
			$('.PTB17-filter').each(function() {

				// Check filter has value
				if($(this).val() != '') {
					// Get sanitised value
					var val = $(this).val().replace(/\s+/g, '-').toLowerCase();

					// Get filter name
					var filterName = $(this).data('filter');

					// Hide cards that don't have category class
					$('.row .active', $block).not('.filter-' + filterName + '--' + val).removeClass('active');
				}

			});

			
		});

		/* -- SEARCH -- */
		function block{{ blockCount }}Search() {
			var searchString = $('.PTB17-search input', $block).val();

			// Hide active blocks
			$('.row .active', $block).removeClass('active');
			
			// If content in search
			if(searchString.length > 0) {
				var activeCount = 0;

				// Loop through all panels
				$('.event-card', $block).each(function() {
					// Get content as string
					var panelContent = $(this).text();

					// If search string is contained in panel content, add active class
					if(panelContent.toLowerCase().indexOf(searchString.toLowerCase()) >= 0) {
						$(this).parent().addClass('active');
						activeCount = activeCount + 1;
					}
				});

				if(activeCount == 0) {
					$('.PTB17-grid-none', $block).addClass('active');
				} else {
					$('.PTB17-grid-none', $block).removeClass('active');
				}

			} else {
				// Else if no content reset
				block{{ blockCount }}ResetBlocks();
			}

		}

		// Run search after input change
		$('.PTB17-search input', $block).keyup(function() {
			block{{ blockCount }}Search();
		});
	});
</script>