<div id="block-{{ blockCount }}" class="block block-PTB block-PTB18">
	<div class="container">
		<div class="block__content">
			<div class="PTB18-intro">
				[!triangle]
				<h2>{{{title}}}</h2>
			</div>
			<div class="row">
				<div class="col-12 col-md-3 PTB19-col-1">
					<div class="PTB18-sidebar">
						<button class="PTB18-filter-button">Filter <svg width="24" height="16" viewBox="0 0 24 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.7254 14.9893L0.528584 5.11929C-0.176195 4.4371 -0.176195 3.33399 0.528584 2.65905L2.22305 1.0189C2.92783 0.336708 4.06748 0.336708 4.76476 1.0189L12 8.00771L19.2277 1.01164C19.9325 0.32945 21.0722 0.32945 21.7694 1.01164L23.4714 2.6518C24.1762 3.33399 24.1762 4.4371 23.4714 5.11203L13.2746 14.982C12.5698 15.6715 11.4302 15.6715 10.7254 14.9893Z" fill="#E6E8EA"/></svg></button>
						<div class="PTB18-filter"></div>
					</div>
				</div>
				<div class="col-12 col-md-9 PTB19-col-2">
					<div class="PTB18-grid" data-count="12">
						<div class="row"></div>
					</div>
					<div class="PTB18-more"><button class="btn btn--theme">View More</button></div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	jQuery(document).ready(function($) {
		blockFunctions('{{ blockCount }}');
		var $block = $('#block-{{ blockCount }}').parent('.wmg-block');

		function ajaxPostQuery() {
			queryURL = 'https://sitebuilder.warwick.ac.uk/sitebuilder2/api/rss/news.json';
			contentURL = $block.data('content_url');
			queryString = '&num=' + $('.PTB18-grid').attr('data-count');
			scrollPosition = document.documentElement.scrollTop;

			// Get all active filters
			$('.PTB18-filter input:checked').each(function() {
				queryString = queryString + '&tag=' + $(this).val();
			});

			// Ajax query to load posts
			$.ajax({
	  			async: false,
		        url : queryURL + '?page=' + contentURL + queryString,
		        type: 'GET',
		        dataType: 'json',
		        success: function(data) {
					var posts = '';

					$.each(data.items, function(key, data) {
						// Convert timestamp to post date
						var postDateTime = new Date(data.publicationDate);
						var formattedDate = postDateTime.toLocaleString('en-GB', { day: '2-digit', month: 'long', year: 'numeric' });

						// Get image from content string
						var formattedImage = '';
						if (data.content.indexOf('src="') >= 0) {
							var image = data.content.split('src="')[1].split('" ')[0];

							if(image != '') {
								// If image doesn't have http, set full url
								if(!image.startsWith('http')) {
									image = contentURL + image;
								}

								formattedImage = '<div class="post-card__image"><img src="' + image + '"><svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M34.1855 35L0.867523 35L0.867528 -1.83932e-06L34.1855 35Z" fill="#E6E8EA"/></svg></div>';
							}							
						}

						posts = posts + '<div class="col-12 col-sm-6 col-md-4"><a href="' + data.url.href + '" class="post-card border-color--theme">' + formattedImage + '<div class="post-card__content"><span class="post-card__date">' + formattedDate + '</span><span class="post-card__cat">' + data.categories[0] + '</span><h4 class="post-card__heading">' + data.title + '</h4></div></a></div>';
					});

					$('.PTB18-grid > .row').html(posts);

					// Keep window in same scroll position
					window.scrollTo(0, scrollPosition);
		        },
		        error: function(data) {
		        	console.log('Could not get data from ' + contentURL);
		        },
	        });
		}

		// Load posts on launch
		ajaxPostQuery();

		// On filter change run Ajax query
	    $('#block-{{ blockCount }} .PTB18-filter').on('change', 'input', function() {
			ajaxPostQuery();
	    });

	    // Add pagination
	    $('#block-{{ blockCount }} .PTB18-more .btn').click(function() {
	    	var currentCount = parseInt($('.PTB18-grid').attr('data-count'));
	    	var newCount = currentCount + 12;
	    	$('.PTB18-grid').attr('data-count', newCount);
	    	ajaxPostQuery();
	    });

	    // Load filters
	    var filtersContentURL = $block.data('filters_url');

	    $.ajax({
  			async: false,
	        url : 'https://sitebuilder.warwick.ac.uk/sitebuilder2/api/dataentry/entries.json?page=' + filtersContentURL,
	        type: 'GET',
	        dataType: 'json',
	        success: function(data) {				
				$('#block-{{ blockCount }} .PTB18-filter').html(data.items[0].content);

				// Loop through each filter and create checkbox
				$('#block-{{ blockCount }} .PTB18-filter li').each(function() {
					var cat = $(this).text();
					$(this).html('<label><input type="checkbox" value="' + cat + '">' + cat + '</label>');
				});
	        },
	        error: function(data) {
	        	console.log('Could not get filters from ' + filtersContentURL);
	        }
	    });			

	    // Mobile filter button
	    $('#block-{{ blockCount }} .PTB18-filter-button').click(function() {
	    	$('#block-{{ blockCount }} .PTB18-filter').toggleClass('active');
	    	$(this).toggleClass('active');
	    });
	});
</script>