<div id="block-{{ blockCount }}" class="block block-SB block-SB02">
	<div class="container">
		<div class="block__content">
			<div class="row">
				<div class="col-12 col-md-8">
					<form>
						<div class="SB02-search">
							<input type="text" placeholder="Find courses">
							<ul class="SB02-search-results"></ul>
						</div>
					</form>
				</div>
				<div class="col-12 col-md-4">
					{{{content.[0].content}}}
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	jQuery(document).ready(function($) {
		blockFunctions('{{ blockCount }}');
		var $block = $('#block-{{ blockCount }}').parent('.wmg-block');

		// Ajax query to load items
		var contentURL = 'https://sitebuilder.warwick.ac.uk/sitebuilder2/api/dataentry/entries.json?page=/fac/sci/wmg-2021/study/all-courses/course-contents';
		$.ajax({
  			async: false,
	        url : contentURL,
	        type: 'GET',
	        dataType: 'json',
	        success: function(data) {
				var output = '';

				// Loop through each item
				$.each(data.items, function(key, data) {
					// Loop through categories
					var cats = '';
					$.each(data.categories, function(key, data) {
						// If cat isn't empty
						if(data != '') {
							// Create cat markup
							cats = cats + '<span class="SB02-search-results__tag--' + encodeURIComponent(data) + '">' + data + '</span>';
						}
					});
					// Add to output
					output = output + '<li><span class="SB02-search-results__heading"><a href="' + data.url.href + '">' + data.title + '</a></span><div class="SB02-search-results__tags">' + cats + '</span></li>';
				});

				output = output + '<li class="SB02-search-results__none">No courses matched your search</li>';

				$('.SB02-search-results', $block).html(output);
	        },
	        error: function(data) {
	        	console.log('Could not get data from ' + contentURL);
	        },
        });

        function block{{ blockCount }}Search() {
        	var searchString = $('.SB02-search input', $block).val();
        	console.log(searchString);
			// Hide active blocks
			$('.SB02-search-results li', $block).removeClass('active');
			
			// If content in search
			if(searchString.length > 0) {
				let result = false;
				$('.SB02-search-results').addClass('active');

				// Loop through all panels
				$('.SB02-search-results li', $block).each(function() {
					// Get content as string
					var panelContent = $(this).text();

					// If search string is contained in panel content, add active class
					if(panelContent.toLowerCase().indexOf(searchString.toLowerCase()) >= 0) {
						$(this).addClass('active');
						result = true;
					}
				});

				if(result == false) {
					$('.SB02-search-results').addClass('no-results');
				} else {
					$('.SB02-search-results').removeClass('no-results');
				}
			} else {
				$('.SB02-search-results').removeClass('active');
			}
        }

		// Run search after input change
		$('.SB02-search input', $block).keyup(function() {
			block{{ blockCount }}Search();
		});

	});
</script>