<div id="block-{{ blockCount }}" class="block block-TB block-TB13">
	<div class="container">
		<div class="block__content">
			<div class="row">
				<div class="col-12 col-lg-8 TB13-main">
					{{{content.[0].content}}}
				</div>
				<div class="col-12 col-lg-4 TB13-side">
					<div class="TB13-side__header">{{{content.[1].content}}}</div>
					<div class="TB13-side__posts">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	jQuery(document).ready(function($) {
		blockFunctions('{{ blockCount }}');
		var $block = $('#block-{{ blockCount }}').parent('.wmg-block');
	 	var pubsData = blockPubsQuery($block);
	 	var pubsHTML = blockPubsArticles(pubsData);

	 	$('.TB13-side__posts', $block).html(pubsHTML);
	});
</script>