<div id="block-{{ blockCount }}" class="block block-TB block-TB13">
	<div class="container">
		<div class="block__content">
			<div class="row">
				<div class="col-12 col-lg-8 TB13-main">
					{{{content.[0].content}}}
				</div>
				<div class="col-12 col-lg-4 TB13-side">
					<div class="TB13-side__header">{{{content.[1].content}}}</div>
					<div class="TB13-side__posts">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	jQuery(document).ready(function($) {
		blockFunctions('{{ blockCount }}');
		var $block = $('#block-{{ blockCount }}').parent('.wmg-block');
		var postsData = blockPostsQuery($block, 3);
		var postsOutput = '';

		if(postsData != false) {
			$.each(postsData, function(key, data) {
				var authors = '';

				if(data.authors.length > 0) {
					authors = 'Authors: ';
					$.each(data.authors, function(key, data) {
						if(key > 0) {
							authors = authors + ' | ';
						}
						authors = authors + data;
					});
				}

				var date = new Date(data.publicationDate);
				date = date.toLocaleString('en-GB', { weekday: 'long', day: '2-digit', month: 'long', year: 'numeric' })

				postsOutput = postsOutput + '<div class="article-post border-color--theme"><span class="article-post__date">' + date + '</span><h3 class="article-post__heading"><a href="' + data.url.href + '">' + data.title + '</a></h3><span class="article-post__authors">' + authors + '</span></div>';
			});

			$('#block-{{ blockCount }} .TB13-side__posts').html(postsOutput);
	    }

	});
</script>